error-well([error]="error")

h2.margin-v-0 Route Javascript Object Notation

p.margin-0.pad-h.text-grey-2x A superb conduit to building, testing, and reviewing API end-points

h3 RJON Map
p.margin-v-0 Below is a map of standarized RJON
pre.code-sample(ngNonBindable).
  &#123;
    "routes": [
      &#123;
        "path": "",
        "method": "GET",
        "returnType": "",#[span.text-grey-2x //expected type of response]
        "description": "",
        "notes": [""],
        "status": ["star"],#[span.text-grey-2x //keyword descriptors. Often matches status icon. star=⭐]
        "variables":&#123;
          "query":&#123; "name":"type" &#125;,#[span.text-grey-2x //url variable details]
          "post":&#123; "name":"type" &#125;,#[span.text-grey-2x //post variable details]
          "params":&#123; "name":"type" &#125;#[span.text-grey-2x //path variable details]
        &#125;,
        "sample": [
          &#123;
            "path": "",#[span.text-grey-2x //sample path substitution]
            "query": &#123;&#125;,#[span.text-grey-2x //url variables]
            "params": &#123;&#125;,#[span.text-grey-2x //path variables]
            "request": &#123;&#125;,#[span.text-grey-2x //request body sample]
            "headers": &#123;&#125;
            "post": &#123;&#125;,#[span.text-grey-2x //form post variables]
            "test": &#123;#[span.text-grey-2x //object or boolean]
              "timeout": 2000,
              "statusCode": 200,
              "body": [],
              "only": false,#[span.text-grey-2x //skip others bulk tests]
              "skip": false,#[span.text-grey-2x //skip during bulk tests]
              "title": ""#[span.text-grey-2x //extra details]
            &#125;
          &#125;
        ]
      &#125;
    ],
    "hosts": [
      &#123;
        "protocol": "https",
        "hostname": "localhost",
        "port": 8080,
        "description": "",
        "notes": [""],
        "headers": &#123;&#125;#[span.text-grey-2x //global headers meant for all requests]
      &#125;
    ],
    "name":""#[span.text-grey-2x //save-reference]
  &#125;

br

h3 Route Status Icons
p.text-grey-2x The icons below help explain what route status icons definitions mean
icon-table