textarea.width-full.height-300.radius-5.border-grey-3x("[(ngModel)]"="mergeRjonString" placeholder="paste rjon here")
.flex
  a.hover-bg-energized.flex1.block.pad-xs.bg-info.border.border-info.text-center("(click)"="compareRjon(mergeRjonString)")
    |compare rjon
  a.hover-bg-energized.flex1.block.pad-xs.bg-calm.border.border-calm.text-center("(click)"="mergeRjon(mergeRjonString);onMerge.emit()")
    |merge rjon

error-well([error]="mergeError")

div("*ngIf"="viewRjonMergeResults" "[@500]"="'fadeInUp'")
  .flex-valign-center.flex-wrap.child-margin-h-xs.child-pad-xxs
    .flex-1
      h4 RJON Comparison Results
    .radius-5.bg-info.text-xs
      |merge routes {{ rjonMerge?.routes.length || 0 }}
    .radius-5.bg-info.text-xs
      |merge hosts {{ rjonMerge?.hosts.length || 0 }}
    .radius-5.bg-info.text-xs
      |add routes {{ compareResults?.add?.routes.length || 0 }}
    .radius-5.bg-info.text-xs
      |drop routes {{ compareResults?.drop?.routes.length || 0 }}
    .radius-5.bg-info.text-xs
      |add hosts {{ compareResults?.add?.hosts.length || 0 }}
    .radius-5.bg-info.text-xs
      |drop hosts {{ compareResults?.drop?.hosts.length || 0 }}
  
  div(*ngIf="compareResults")
    div Add Hosts
    absolute-overflow-x
      pre.code-sample {{ compareResults.add?.hosts | json }}
    
    div Drop Hosts
    absolute-overflow-x
      pre.code-sample {{ compareResults.drop?.hosts | json }}
    
    div(*ngIf="compareResults.add")
      .flex-wrap.flex-right
        .pad-xs.flex-1 Add Routes {{ compareResults.add.routes.length }}
        .flex-wrap.child-margin-xxs
          .flex-valign-center.flex-center.width-30.height-30.cursor-pointer.border.border-grey-3x.radius-3.hover-bg-grey(*ngFor="let route of compareResults.add.routes;let i=index" "[class.bg-energized]"="i==viewAddRoute" "(click)"="viewAddRoute=i==viewAddRoute?null:i")
            |{{ i + 1 }}
      div(*ngFor="let route of compareResults.add.routes;let i=index")
        div(*ngIf="i==viewAddRoute" "[@500]"="'fadeInUp'")
          absolute-overflow-x
            pre.code-sample {{ route | json }}
    
    div(*ngIf="compareResults.drop")
      .flex-wrap.flex-right
        .pad-xs.flex-1 Drop Routes {{ compareResults.drop.routes.length }}
        .flex-wrap.child-margin-xxs
          .flex-valign-center.flex-center.width-30.height-30.cursor-pointer.border.border-grey-3x.radius-3.hover-bg-grey(*ngFor="let route of compareResults.drop.routes;let i=index" "[class.bg-energized]"="i==viewDropRoute" "(click)"="viewDropRoute=i==viewDropRoute?null:i")
            |{{ i + 1 }}
      div(*ngFor="let route of compareResults.drop.routes;let i=index")
        div(*ngIf="i==viewDropRoute" "[@500]"="'fadeInUp'")
          absolute-overflow-x
            pre.code-sample.max-height-500 {{ route | json }}
          .pad.text-center
            a.bg-danger.border.border.danger("(click)"="compareResults.drop.routes.splice(i,1);dropRoute(route)") drop