ack-modal(*ngIf="testRoute" "(onClose)"="testRoute=null" "[@500]"="'fadeInUp'" "[wrapStyle]"="{width:'100%', 'max-width':'900px'}")
  .bg-white.border.border-grey-4x.pad.radius-5
    test-route("[(hostModel)]"="hostModel" "[route]"="testRoute" "[hosts]"="rjon.hosts")

ack-modal(*ngIf="editRoute" "(onClose)"="editRoute=null" "[@500]"="'fadeInUp'" "[wrapStyle]"="{width:'100%', 'max-width':'900px'}")
  .bg-white.border.border-grey-4x.pad.radius-5
    edit-route("[(hostModel)]"="hostModel" "[route]"="editRoute" "[hosts]"="rjon.hosts" "(onChange)"="onChange.emit(rjon)")
    br
    .text-center.flex.child-pad
      a.flex-1.text-danger.bg-danger.hover-bg-energized.hover-text-grey-3x("(click)"="deleteRoute(editRoute);editRoute=null") delete
      a.flex-1.bg-grey-5x.hover-bg-grey-6x.hover-text-grey-3x("(click)"="editRoute=null") close

rjon-links.text-right.text-sm("[rjon]"="rjon")

.markdown-body
  h3 Table of Hosts
  table-of-hosts([hosts]="rjon.hosts")

  h3 Table of Routes
  table-of-routes([routes]="rjon.routes" links="1")
  .pad-xs.text-right
    a("(click)"="route={};rjon.routes.push(route);editRoute=route") add route

  br
  h2 Route Definitions
  
  div(*ngFor="let route of (rjon ? rjon.routes : [])")
    div(style="padding:.4em;")
      .flex-valign-center
        h3(id="{{ route.method+':'+route.path | markdownAnchor }}")
          |{{ route.path }}
        .flex-1.text-right.child-margin-xxs
          button.text-md("(click)"="testRoute=route") test
          button.text-md("(click)"="editRoute=route") edit
      ul(style="padding-bottom:0;margin-bottom:0;")
        li(*ngFor="let status of route.status|array")
          |{{ statIconMap[status].icon }} &nbsp;{{ statIconMap[status] ? statIconMap[status].details : '' }}
        li(*ngIf="route.description || route.details")
          |{{ route.description || route.details }}
        li(*ngFor="let note of route.notes|array")
          |note:{{ note }}
        li(*ngIf="route.method")
          |method: {{ route.method }}
        li(*ngIf="route.returnType")
          |return-type: {{ route.returnType }}
        
        //- --- HOSTS LOOP ---
        ng-container("*ngIf"="route.sample")
          li("*ngFor"="let host of rjon.hosts")
            div("*ngFor"="let sample of route.sample|array; let i=index")
              -attrs={};
              -attrs.action = "{{ serverUrlByRoute(host, route, sample) }}"
              -attrs.method = "{{ route.method || 'GET' }}"
              -attrs.enctype = "{{ sample.fileNames ? 'multipart/form-data' : 'application/json' }}"
              -attrs.target = "_blank"
              -attrs.style = "display:inline-block;padding:0.2em;"
              //-attrs['returnType'] = "{{ route.returnType }}"
              form&attributes(attrs)
                div(*ngIf="['file','pdf'].indexOf(route.returnType)>=0")
                  |Loading...&nbsp;
              
                //-(style="display:none;")
                div
                  a.result-link(href=attrs.action target="_blank")
                    |{{host.hostname}}
                  //-
                    |&nbsp;
                    a.result-link(download) download
                    |&nbsp;
                //-
                  textarea.post-body(*ngIf="sample.body" name="body" wrap="off")
                    |{{ body | json }}

                  div(*ngIf="sample.post")
                    div(*ngFor="let sampleParamKey of (sample.post|keys)")
                      textarea(name="{{ sampleParamKey }}")
                        |{{ sample.post[sampleParamKey] }}
                  
                  div(*ngIf="((route.method||'GET')|lowercase)=='get' && sample.query")
                    div(*ngFor="let queryKey of (sample.query|keys)")
                      textarea(name="{{ queryKey }}")
                        |{{ sample.query[queryKey] }}
                  
                  div(*ngIf="['post','pull'].indexOf((route.method||'GET')|lowercase)>=0 && sample.fileNames")
                    div(*ngFor="let fileName of sample.fileNames")
                      input(type="file" name="{{ fileName }}" placeholder="{{ fileName }}")

                  input(type="submit" value=attrs.action)

      //-each sample in samples
      ul("*ngFor"="let sample of route.sample|array" style="padding-top:0;margin-top:0;")
        li(*ngIf="sample.test")
          |Sample Test
          ul
            li(*ngIf="sample.test.only")
              |#[strong ONLY] this test during bulk tests
            li(*ngIf="sample.test.skip")
              |#[strong SKIP] (do not test)
            li(*ngIf="sample.test.statusCode")
              |Expects statusCode {{sample.test.statusCode}}
            li(*ngIf="sample.test.body" "#showBody"="var" "[var]"="false")
              button("(click)"="showBody.var=!showBody.var") request-body
              div(*ngIf="showBody.var" "[@500]"="'fadeInUp'")
                absolute-overflow-x
                  pre.code-sample {{ sample.test.body | json}}
              

        li(*ngIf="sample.response" "#showBody"="var" "[var]"="false")
          button("(click)"="showBody.var=!showBody.var") sample response
          div(*ngIf="showBody.var" "[@500]"="'fadeInUp'")
            absolute-overflow-x
              pre.code-sample {{ sample.response | json }}
        li(*ngIf="sample.request" "#showBody"="var" "[var]"="false")
          button("(click)"="showBody.var=!showBody.var") sample request
          div(*ngIf="showBody.var" "[@500]"="'fadeInUp'")
            absolute-overflow-x
              pre.code-sample {{ sample.request | json}}
      br

//-pre.code-sample {{ rjon|json }}