.pad-v.child-margin-xs
  a([href]="getEmailString() | safeUrl")
    |email json
  a([href]="getDownloadString() | textDownload | safeUrl" download="rjon.json")
    |download json
  //-a([href]="getDownloadHtml() | textDownload | safeUrl" download="rjon.html")
    |download html
  a([href]="getMarkdownString() | textDownload | safeUrl" download="rjon.md")
    |download markdown